$modal_overlay: rgba(0, 0, 0, 0.4);
$modal_bg: rgb(255, 255, 255);
$modal_footer: rgb(244, 245, 247);
$modal_title: rgba(0, 0, 0, 0.8);
$modal_text: rgba(0, 0, 0, 0.5);
$modal_icon: rgb(189, 189, 189);
$modal_primary: rgb(0, 70, 118);
$icon_checkmark: 'data:image/svg+xml;utf8,<svg height="11" viewBox="0 0 14 11" width="14" xmlns="http://www.w3.org/2000/svg"><path d="m5 10.42-5-5 1.41-1.41 3.59 3.58 7.59-7.59 1.41 1.42z" fill="rgb(255,255,255)" fill-rule="evenodd"/></svg>';
$icon_caret: 'data:image/svg+xml;utf8,<svg height="12" viewBox="0 0 8 12" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m1.41 0-1.41 1.41 4.58 4.59-4.58 4.59 1.41 1.41 6-6z" fill="'+$modal_primary+'"/></svg>';